.tox/
.pytest_cache/
venv/
temp/
.idea/
.vs/
*.pyc
*.log
*.fpk
*.coverage
*.dmp
.vscode/


# Encoding issues

Extensions/UCITS\ Germany/FParameters/*
"Extensions/UCITS Germany/FParameters/*"


# Case sensitive files
Extensions/Application\ Base/FColumnDefinition/CalcAgent.attr
Extensions/Application\ Base/FColumnDefinition/Calcagent.attr
Extensions/Application\ Base/FColumnDefinition/CLS.attr
Extensions/Application\ Base/FColumnDefinition/Cls.attr
Extensions/Credit\ Pricing\ and\ Risk/FExtensionAttribute/creditCurvesForJTDShift.adfl
Extensions/Credit\ Pricing\ and\ Risk/FExtensionAttribute/creditCurvesForJTDshift.adfl
Extensions/Default/FColumnDefinition/Years\ To\ Maturity.attr
Extensions/Default/FColumnDefinition/Years\ to\ Maturity.attr
Extensions/Fixed\ Income\ Pricing\ and\ Risk/FExtensionAttribute/FixingReferenceInstrumentAndTrades.adfl
Extensions/Fixed\ Income\ Pricing\ and\ Risk/FExtensionAttribute/fixingReferenceInstrumentAndTrades.adfl


"Extensions/Application Base/FColumnDefinition/CalcAgent.attr"
"Extensions/Application Base/FColumnDefinition/Calcagent.attr"
"Extensions/Application Base/FColumnDefinition/CLS.attr"
"Extensions/Application Base/FColumnDefinition/Cls.attr"
"Extensions/Credit Pricing and Risk/FExtensionAttribute/creditCurvesForJTDShift.adfl"
"Extensions/Credit Pricing and Risk/FExtensionAttribute/creditCurvesForJTDshift.adfl"
"Extensions/Default/FColumnDefinition/Years To Maturity.attr"
"Extensions/Default/FColumnDefinition/Years to Maturity.attr"
"Extensions/Fixed Income Pricing and Risk/FExtensionAttribute/FixingReferenceInstrumentAndTrades.adfl"
"Extensions/Fixed Income Pricing and Risk/FExtensionAttribute/fixingReferenceInstrumentAndTrades.adfl"


Extensions/Default/FColumnDefinition/CalcAgent.attr
Extensions/Default/FColumnDefinition/Calcagent.attr
Extensions/Default/FColumnDefinition/CLS.attr
Extensions/Default/FColumnDefinition/Cls.attr
Extensions/Default/FColumnDefinition/ISIN.attr
Extensions/Default/FColumnDefinition/Isin.attr
Extensions/Default/FColumnDefinition/OTC.attr
Extensions/Default/FColumnDefinition/Otc.attr
Extensions/Default/FExtensionAttribute/creditCurvesForJTDShift.adfl
Extensions/Default/FExtensionAttribute/creditCurvesForJTDshift.adfl
Extensions/Default/FExtensionAttribute/enum_BusinessDayMethod.adfl
Extensions/Default/FExtensionAttribute/enum_businessDayMethod.adfl
Extensions/Default/FExtensionAttribute/EstimationMethod.adfl
Extensions/Default/FExtensionAttribute/estimationMethod.adfl
Extensions/Default/FExtensionAttribute/FixingMethod.adfl
Extensions/Default/FExtensionAttribute/fixingMethod.adfl
Extensions/Default/FExtensionAttribute/FixingReferenceInstrumentAndTrades.adfl
Extensions/Default/FExtensionAttribute/fixingReferenceInstrumentAndTrades.adfl
Extensions/ElectronicTradingCoreModule/FExtensionValue/_DefaultColumns.attr
Extensions/ElectronicTradingCoreModule/FExtensionValue/_defaultColumns.attr
Extensions/ElectronicTradingMod/FExtensionValue/_DefaultColumns.attr
Extensions/ElectronicTradingMod/FExtensionValue/_defaultColumns.attr

